* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Fredoka One", cursive;
}

nav {
  width: 100%;
  height: 6rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
}

.nav-items h5 {
  margin: 0rem 2rem;
  font-size: 1rem;
  font-weight: 100;
}

.active-item {
  color: #fe6038;
}

.intro-section {
  position: relative;
  padding: 2rem;
  display: flex;
  gap: 3rem;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.left-section h3 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

img[alt="circles"] {
  width: 3rem;
}

.left-section h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.sub-headlines {
  padding: 0rem 3rem;
}

.sub-headlines h5 {
  font-size: 1.5rem;
}

.sub-headline {
  margin: 1rem 0rem;
}

img[alt="plus"] {
  background-color: #fe5e35;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.text {
  margin: 1rem 0rem;
  font-weight: lighter;
}

.action-btns {
  margin-top: 2rem;
}

.action-btn {
  background-color: #fe5e35;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  margin: 0rem 1rem;
  color: white;
}

.right-section {
  position: relative;
  flex-basis: 50%;
}

.discount {
  position: absolute;
  top: 14rem;

  left: 0rem;
  z-index: 1;

  width: 8rem;
}

.discount-content {
  position: absolute;
  top: 16rem;
  left: 2rem;
  z-index: 1;
  color: white;
}

img[alt="headphone"] {
  position: absolute;
  top: 0rem;
  width: 25rem;
}

.right-section .action-btn {
  position: absolute;

  bottom: 0rem;
  left: 30%;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.yellow-dot {
  left: 30%;
  bottom: 4rem;
  background-color: yellow;
}

.tomato-dot {
  left: 35%;
  bottom: 4rem;
  background-color: tomato;
}

.black-dot {
  left: 40%;
  bottom: 4rem;
  background-color: black;
}


@media screen and (max-width: 768px) { 
   img[alt="logo"]{
    width: 5rem;
   }

   .nav-items {
    display: none;
   }

   nav {
    display: flex;
    justify-content: space-between;
   }

   .intro-section {
    display: flex;
    flex-direction: column;
    
   }

   .dots {
    display: none;
   }

   .action-btn {
    top: 25rem;
   }


}


@media screen and (min-width: 769px) and (max-width: 1024px) {

  img[alt="logo"]{
    width: 5rem;
   }

   .nav-items {
    display: none;
   }

   nav {
    display: flex;
    justify-content: space-between;
    
   }

   .intro-section {
    display: flex;
    flex-direction: column;
    
   }

   .dots {
    display: none;
   }

   .action-btn {
    top: 25rem;
   }



}


@media screen and (min-width: 1024px) { 

}

